<ion-content>
  <ion-grid>

    
    <ion-row *ngFor="let data of opp | keyvalue" class="center">
      <ion-card>
        <ion-card-header>
          <img src="{{data.value.image}}" />
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-title>{{data.value.name}}</ion-card-title>
                <ion-card-subtitle>{{data.value.location}}</ion-card-subtitle>
                <ion-card-subtitle>{{data.value.date}}, {{data.value.time}}</ion-card-subtitle>
              </ion-col>
              <ion-col size="2">
                <ion-button color="danger" (click)="getAllOpportunities()" size="2"  class="join">
                  <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-card-content>
          Registered Users: 10
        </ion-card-content>
        <ion-card-content>
          {{data.value.description}}
        </ion-card-content>
      </ion-card>
    </ion-row>
<!-- 

    <ion-row  class="center">
      <ion-card>
        <ion-card-header>
          <img src="assets/trash.jpg" />
          <ion-grid>
            <ion-row>
              <ion-col>
                
                <ion-card-subtitle>Rebel Trash</ion-card-subtitle>
                <ion-card-title>Trash pickup drive</ion-card-title>
                <ion-card-subtitle>Grove 101, Oxford,ms,38655</ion-card-subtitle>
                <ion-card-subtitle>3/22/2020, 3pm-4pm</ion-card-subtitle>
              </ion-col>
              <ion-col size="2">
                <ion-button color="danger" size="2"  class="join">
                  <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-card-content>
          Registered Users: 10
        </ion-card-content>
        <ion-card-content>
          Free Food, Yayy!....
        </ion-card-content>
      </ion-card>
    </ion-row> -->



  </ion-grid>

</ion-content>
<!-- 
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [routerLink]="['/Opportunities']">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Opportunities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [routerLink]="['/organisationprofile']">
      <ion-label>Profile</ion-label>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [routerLink]="['/message-center']">
      <ion-icon name="golf-outline"></ion-icon>
      <ion-label>Message Center</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> -->