ion-content {
    --background: none;
    background-image: url('/assets/one_hand.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

ion-item{
    border-radius: 1em;
    --background: transparent;
    padding: 0.5em;
}

.container{
  height: 100vh;
  background-color: rgba($color: #ffffff, $alpha: 0.6);
}
