<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scheduler">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Opportunities</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="dashboard">
      <ion-label>Profile</ion-label>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="messagecenter">
      <ion-icon name="golf-outline"></ion-icon>
      <ion-label>Message Center</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
