ion-toolbar {
  --background: translucent;
}

ion-content {
  --background: none;
  background-image: url('/assets/man.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0%;
}



