

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Participated</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-item class="header">
  Thank you for your support we appreciate you service. 

</ion-item>
<ion-grid>
<ion-row *ngFor="let data of opp | keyvalue" >
  <ion-card>
    <ion-card-header>
      <img src="{{data.value.image}}" />
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>{{data.value.organisation}} </ion-card-subtitle>
            <ion-card-title>{{data.value.name}} </ion-card-title>
            <ion-card-subtitle>{{data.value.location}}</ion-card-subtitle>
            <ion-card-subtitle>{{data.value.date}} {{data.value.time}}</ion-card-subtitle>
          </ion-col>
          <ion-col size="2">
            <ion-button (click)="delete(data.key)" class="join"color="warning" size="2">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
    {{data.value.description}}
    </ion-card-content>
  </ion-card>
  </ion-row>
  </ion-grid>

</ion-content>
