ion-toolbar {
  --background: translucent;
}

ion-content {
  --background: none;
  background-image: url('/assets/make.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  text-align: center;
}