ion-content {
    --background: none;
    background-image: url('/assets/one_hand.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

ion-item{
    border-radius: 1em;
    
}

.container{
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 35vh;
  padding: 1em;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
}