<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="center">
          <ion-label> Email Prospects</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center">
        
        <ion-item class="center">
          <ion-label> Select Opportunity</ion-label>
          <ion-select  [(ngModel)]="opportunityselect" interface="popover" ok-text="Okay" cancel-text="Nah" class="select">
            <ion-select-option class="customselect" *ngFor="let data of opp | keyvalue"  value="{{data.key}}">{{data.value}}</ion-select-option>
            <!-- <ion-select-option value="2">Dog Donation Drive</ion-select-option> -->
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Message Subject <ion-text color="danger">*</ion-text></ion-label>
          <ion-input [(ngModel)]="subject" type="text" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-item>
        <br>
        <ion-textarea  [(ngModel)]="messagedata" rows="15" autoGrow="true" cols="500" Placeholder="The messaage to address goes here">
        </ion-textarea>
      </ion-item>
    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-button (click)="emailProspects()" >Send Email</ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- 
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [routerLink]="['/Opportunities']">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Opportunities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [routerLink]="['/organisationprofile']">
      <ion-label>Profile</ion-label>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [routerLink]="['/message-center']">
      <ion-icon name="golf-outline"></ion-icon>
      <ion-label>Message Center</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> -->