ion-content {
    --background: none;
    background-image: url('/assets/make.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .customselect{
    width: 100%;
    text-align: right;
  }
  .center {
    text-align: center;
    align-items: center;
    align-self: center;
  }
.select{
    width: 100%;
}